<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ouser" value="tatacalendar@tatacalendar.onmicrosoft.com"/>
    <add key="opass" value="$h@repnt.1"/>
    <add key="tcluser" value="Rahul.jayasurya@tatacommunications.com"/>
    <add key="tclpass" value="Tata@123"/>
    <add key="siteURL" value="https://kltech1.sharepoint.com/sites/annotate101/rerpoc/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>